:root {
  /* Color */
  --main-bg-color: #181818;
  --main-color: #202020;

  --blue-color: #3ca1f4;
  --red-color: #ff0101;
  --ct-grey-dark: #929292;
  --ct-grey-light: #303030;
  --ct-white: #f1f1f1;


  /* Font-size */
  --large-font-size: 22px;
  --medium-font-size: 18px;
  --small-font-size: 14px;
  --micro-font-size: 10px;

  /* Font-family */
  --logo-font-family: gitan-latin, sans-serif;

  /* Spacing */
  --large-space: 14px;
  --medium-space: 8px;
  --small-space: 4px;
}

/* basic */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto';
  font-size: var(--medium-font-size);
  background-color: var(--main-bg-color);
  color:var(--ct-white);
}



/* 헤더 */
header {
  background-color: var(--main-color);
  font-size: var(--large-font-size);
  display: flex;
  justify-content: space-between;
  padding: var(--large-space);
}

header .logo i {
  
}
header .icons i {
  margin-left: var(--small-space);
}

/* 영상 콘텐츠 */
.player {
  text-align: center;
  padding: var(--large-space);
  position: sticky;
  top: 0;
}

.player>video {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

/* 정보박스 */

/* 다음 재생리스트 */